<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- id=bean의 식별자, class=bean의 클래스명 -> 수정을 통한 다른 객체 생성 -->
	<bean id="messageBean" class="listo.hello3.MessageBeanKo"/>
</beans>
